<h1>Listing Articles</h1>
<h2><%= link_to 'Create New Article', new_article_url %></h2>
 
<table style="width: 100%">
  <tr>
    <th>Article ID</th>
    <th>Title</th>
    <th>Text</th>
    <th>Author ID</th>
    <th>Author</th>
    <th></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.id %></td>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= article.author(return_id: true) %></td>
      <td><%= article.author %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
    
  <% end %>
  </tr>
      <tr>
      <th>Article ID</th>
      <th>Title</th>
      <th>Text</th>
      <th>Author ID</th>
      <th>Author</th>
      <th></th>
    </tr>
</table>
<%= link_to 'Back', welcome_index_url %>


